{% extends 'base.html' %}

{% block title %}Cars{% endblock %}

{% block content %}
    <h2 style="color: white">Available cars</h2>
    <div class="car-list">
        {% for car in cars %}
            {% if car.available %}
                <div class="card">
                    {% if car.photo %}
                        <img src="{{ car.photo.url }}" alt="{{ car.brand }} {{ car.model }}" class="card__image">
                    {% else %}
                        <p>No image available</p>
                    {% endif %}
                    <div class="card__content">
                        <p class="card__title">{{ car.brand }} </p>
                        <p class="card__title">{{ car.model }}</p>
                        <p class="card__description">Year: {{ car.year }}</p>
                        <p class="card__description">Price: ${{ car.price }}</p>
                        <p class="card__description">KM: {{car.km }}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}